body {
  margin: 0;
  background: url(images/bg1.png), url(images/footer.png);
  background-position: top, bottom;
  background-repeat: no-repeat, repeat;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

#switch {
  margin-left: 1% !important;
  display: inline;
  width: 34px;
  height: 14px;
}

#container-fluid {
  padding: 3% 15% !important;
}
/* #fluid{
  padding: 2% 30% 2% 10% !important;
} */

#button {
  padding: 3% 15% !important;
  margin-top: 15% !important;
}

#girl {
  width: 243px !important;
  height: 268px !important;
  left: 355px !important;
  top: 100px !important;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    background: url(images/background.png), url(images/bg.png);
    background-position: top, bottom;
    background-repeat: no-repeat, repeat;
    overflow-x: hidden;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
